
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.container{
    width:1170px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}
.gallery-item{
    flex-basis: 23%;
    margin: 1%;
}
.gallery-item img{
    width:100% ;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition:transform 0.3s ease;
}
.gallery-item img:hover{
    transform: scale(1.05);
}
/*  */
.gallery-overlay{
    width: 100%;
    height: 100%;
    display: none;
    /* display hide kia */
    position: fixed;
    background-color: rgba(255,255,255,0.5);
}
.imgBox{
    width: 50%;
    height: 70%;
    left:25%;
    top: 15%;
    transition: 0.5s;
    transform: scale(0);
    background-color: white;
    position: fixed;
}
.imgBox img{
    height: 100%;
    width: 100%;
}
.imgBox span{
    position: absolute;
    right: 0px;
    color: white;
    font-size: 25px;
     /* 40px; */
    cursor: pointer;
    border-radius: 500%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
/* navigate button */
.prev-btn, .next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    transition:0.3s;
}
.prev-btn:hover, .next-btn:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.prev-btn{
    left: 10px;
}
.next-btn{
    right: 10px;
}
.gallery-overlayShow{
    display: block;
}
.imgBoxShow{
    transform: scale(1);
}
